@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  min-width: 240px;
  background-color: #99c3e1;
  font: normal 125%/1.4 helvetica, serif;
  font-size: 100%;
  background-image:url(../images/pattern.png);



}

.logo {
  width: 45%;
  margin-bottom: 2%;
}

.video {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  margin-top: 4%;
  margin-bottom: 0;
}

p {
  font-size: 1.1em;
  margin-top: 1%;
}

button {
  background-color: #111;
  border-radius: 15px;
  padding: 5%;
  font-size: 1.1em;
  color: white;

}

/* Carousel */
.carousel {
  position: relative;
  /* height divided by width gives percent*/
  padding-bottom: 52.6;
  margin-top: 6%;
}

.carousel img {
  position: absolute;
  left: 0;
  width: 98%;
  margin-left: 8px;

}

.carousel-btn {
  position: absolute;
  margin-left: 8px;
  display: inline;
  z-index: 1000;
}

.carousel [data-state="current"] {
  z-index: 100;
}

.carousel [data-state="incoming"] {
  z-index: 101;
}


/* Footer */

footer {
  margin-top: 66%;
}
hr {
  background-color: #2051ca;
  height: 4px;
}
.p-footer {
  font-size: .75em;
}


/* Media Queries */
@media only screen and (min-width: 26em) {
.logo {
  width: 45%;
  margin-bottom: 2%;
}


}

@media only screen and (min-width: 38em) {

.logo {
  width: 25%;
  margin-bottom: 2%;

}

h1 {
  margin-top: 0;
}

}

@media only screen and (min-width: 60em) {

.logo {
  width: 15%;
  margin-bottom: 1.5%;
}

h1 {
  font-size: 3.25em;
  margin-top: 0%;
  margin-bottom: 0;
}

p {
  font-size: 1.75em;
  margin-top: 1%;
}

.p-footer {
  font-size: 1em;

}


}
