@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  min-width: 240px;
  background-color: #99c3e1;
  font: normal 125%/1.4 helvetica, serif;
  font-size: 100%;
  background-image:url(../images/pattern.png);
}

.logo {
  width: 20%;
  margin-right: 2%;
}

.video {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  margin-top: 0%;
  margin-bottom: 0;
}

h2 {
  color: #FFF;
  text-align: center;
}

p {
  font-size: 1.1em;
  margin-top: 1%;
}

button {
  background-color: #111;
  border-radius: 15px;
  padding: 4%;
  font-size: 1.1em;
  color: white;
  margin-right: 2%;

}

.video-img {
  width: 105%;
  margin-left: -10%;
}


/* video box */
dialog {
  border-radius: 6px;
  border: 1px solid #333;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  padding: 1em;
}

dialog::backdrop {
  background-color: #000;
}

dialog + .backdrop {
    background-color: #99c3e1;
}

.btn-close {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  font-weight: bold;
  line-height: 0.6;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: -16px;
  right: -16px;
}

.btn-open {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  margin-left: 10%;
}



/* Carousel */
.carousel {
  position: relative;
  /* height divided by width gives percent*/
  padding-bottom: 52.6;
  margin-top: 6%;
}

.carousel img {
  position: absolute;
  left: 0;
  width: 98.5%;
  margin-left: 2px;

}

.carousel-btn {
  position: absolute;
  z-index: 1000;
  width: 4em;
  margin: 2% 2%;
}


.carousel [data-state="current"] {
  z-index: 100;
}

.carousel [data-state="incoming"] {
  z-index: 101;
}

.spacing {
  padding-top: 2%;
  padding-left: 10%;
  width: 10%;
}

/* Rocket */
/*
.orbit-section {
  background-color: #9f221b;
}
*/
.timer-wrapper {
  position: relative;
}

.timer {
  width: 50px;
}

.arm {
  position: absolute;
  width: 2px;
  left: 74.5%;
  margin-left: 0px;
  top: 19px;
  /* Don't forget the rest of the vendor prefixes */
  /*-webkit-transform: rotate(-30deg);*/
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: arm-rotate 10s linear infinite;
  /* animation name: rocket-rotate;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite: SE;
  */
}

@-webkit-keyframes arm-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.icon-section {
  margin-top: 65%;
  text-decoration: none;

}

section h2 {
  font-size: 1.5em;
}

.icon {
  width: 80%;
  opacity: 0;
  padding-left: 10%;
}
li {
  padding: 2% 3.5%;
}

.icon img{
  width: 40px;
  padding: 2% 2%;
}

.icon li {
  color: #fff;
  text-align: center;
  display: inline-block;
}
li p {
  font-size: 1em;
}

.js-icon-animate {
    -webkit-animation: icon-fade 1s linear 1 forwards;

}

@-webkit-keyframes icon-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.testimonials {
  background-color: #FFF;
  text-align: center;
  color: #000;
  padding: 2% 2%;
  width: 94%;
  margin-left: 2px;
}

.testimonials-name {
  color: #000;
  margin-bottom: 0;
}
.test-rule {
  background-color: #ccc;
  width: 90%;
  height: 2px;
  padding: 0;
}

dd {
  padding: 1.5% 4%;
  margin: 0;
}

/* Footer */

footer {
  margin-top: 5%;
}
hr {
  background-color: #2051ca;
  height: 4px;
}
.p-footer {
  font-size: .75em;
}


/* Media Queries */
@media only screen and (min-width: 26em) {
.logo {
  width: 20%;

}


}

@media only screen and (min-width: 38em) {

.logo {
  width: 20%;
}

h1 {
  margin-top: 0;
}
.test-rule {
  width: 95%;
}

dd{
  padding: .5% 2%;
}

}

@media only screen and (min-width: 60em) {

.logo {
  width: 15%;

}

h1 {
  font-size: 3.25em;
  margin-top: 0%;
  margin-bottom: 0;
}

p {
  font-size: 1.75em;
  margin-top: 1%;
}

.testimonials {
  width: 50%;
  margin-left: 25%;
}

.testimonials-name {
  font-size: 2.25em;
}

dd {
  font-size: 1.75em;
}

.p-footer {
  font-size: 1em;

}


}
